# Clang-Format Style Options for 3.7+
---
# We'll use defaults from the Google style, but with 4 columns indentation.
BasedOnStyle: Google
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -2
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: true
SpacesBeforeTrailingComments: 1
SpaceAfterCStyleCast: true
NamespaceIndentation: All
Standard: Cpp11
---
Language: JavaScript
ColumnLimit: 100
---
Language: Java
ColumnLimit: 90
